body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url(our-gaming-blackjack.jpg);
    text-align: center;
    color: white;
    height: 100vh;
    font-weight: 1000;
    background-repeat:no-repeat;
    background-image: url(our-gaming-blackjack.jpg);
    background-size:cover;
    position:relative ;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

#items {
    background-color: #016f32;
    width: clamp( 200px, 30%, 300px);
    height: 65%;
    margin-top: 10vh;
    border-radius: 0 5%;
    z-index: 1;
    overflow:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#card-one, #card-two {
    height: 60%;
    width: clamp( 150px, 25%, 200px);
    top: 6vh;
    position: absolute;
    padding: 15px;
    background-color: rgb(195, 206, 197);
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#card-one {
    right: 3vw;
}
#diamond-shape {
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 30px solid red;
    position: relative;
    top: -30px;
}
#diamond-shape:after {
    content: '';
    position: absolute;
    left: -20px;
    top: 30px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top: 30px solid red;
}

#hearts-shape {
    position:relative;
    top: -60vh;
}
#hearts-shape:before,
#hearts-shape:after {
    position: absolute;
    content: "";
    left: 25px;
    top: 0;
    width: 25px;
    height: 40px;
    background: red;
    border-radius: 40px 40px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    }
#hearts-shape:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    }

#card-two {
    left: 3vw;
}

.shape{
    transform: rotate(180deg);
}
.heart {
    background-color: #0c0c0c;
    display: inline-block;
    height: 30px;
    margin: 0 10px;
    position: relative;
    top: 20px;
    transform: rotate(-45deg);
    width: 30px;
}
.heart::before, .heart::after {
    content: "";
    background-color: #0c0c0c;
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
}

.heart::before {
    top: -15px;
    left:0;
}

.heart::after {
    left: 15px;
    top: 0;
}

.tale {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 20px solid black;
    transform: rotate(45deg);
    position:absolute;
    bottom: 20px;
    right: -3px;
}

button {
    color:#016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: 800;
}

i {
    position: absolute;
    top: 2vh;
    color: #0c0c0c;
}